<!DOCTYPE html>
<!--https://www.madewithangular.com/#/-->
<html lang="en-us" ng-app="githubViewer">

<head>
	<meta charset="utf-8">
	<title>Hello...</title>
	<!--1.4.7-->
	<script data-require="angular.js@*" data-semver="1.4.7" src="https://code.angularjs.org/1.4.7/angular.js"></script>
	<!--<script data-require="angular.js@1.4.7" data-semver="1.4.7" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>-->
	<!--<script data-require="angular.js@1.4.7" data-semver="1.4.7" src="https://code.angularjs.org/1.4.7/angular-messages.js"></script>-->
	<script src="script.js"></script>
	<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body ng-controller="MainController">
	<div id="mainContent">
		<div>{{ mainTitle }}</div>
		<div>
			{{ error }}
		</div>

		{{ countdown }}
		<form name="searchUser" ng-submit="search(username)">
			<input type="search" required placeholder="Username to find" ng-model="username" />
			<input type="submit" value="Search" />
			<!--<input type="submit" value="Search" ng-click="search(username)" />-->
		</form>

		<div ng-include="'userdetails.html'" ng-show="user"></div>
</body>

</html>
